html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
.hreff{
  position: relative;
}
.hreff:hover{
  color: rgba(240, 191, 95, 1);
}
.hreff:focus{
  color: rgba(204, 153, 51, 1);
  outline: 1px solid rgba(204, 153, 51, 1);
}
.hreff:active{
  outline: none;
  color: rgba(164, 115, 18, 1);
}
:root{
  --gold-color:rgba(204, 153, 51, 1)
}

img{
    max-width: 100%;
}
@font-face {
  font-family: 'OpenSans';
  src:local('OpenSans-Regular'),
   url('../fonts/MullerRegular.woff2') format("woff2"),
   url('../fonts/MullerRegular.woff') format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;

}
@font-face {
  font-family: 'OpenSans';
  src:local('OpenSans-Regular'),
   url('../fonts/MullerLight.woff2') format("woff2"),
   url('../fonts/MullerLight.woff') format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
@font-face {
  font-family: 'OpenSans';
  src:local('OpenSans-Regular'),
   url('../fonts/MullerBold.woff2') format("woff2"),
   url('../fonts/MullerBold.woff') format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;

}
body{
    min-width: 1200px;
    font-family: 'OpenSans', sans-serif;
    background-color: rgba(241, 241, 241, 1);
}
/*Убрать все элементы списка*/
.list-rezet{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bth-rezet{
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex{
  display: flex;
}
.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden{
  position: fixed;
  transform: scale(0);
}
 .section{
  padding: 35px 0;
 }
 .section-title{
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 400;
 }
.header{
  padding: 30px 0;
  min-height: 154px;
}
.header-logo{
  margin-right: 35px;
}
.header-link{
  font-size: 16px;
  font-weight: 400;
  min-height: 16px;

}
.header-blok{
  margin-bottom: 30px;
}
.header-container{
  align-items: center;
}
.number-tell{
  margin-right: auto;
  font-size: 20px;
  color: rgba(102, 102, 102, 1);
  font-weight: 600;
}
.logo-light{
  font-size: 16px;
  min-height: 16px;
  font-weight: 400;
  color: var(--gold-color);
  background-image: url(../img/light.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position: left center;
}
.header-list{
  padding: 17px 45px;
}
.header-list-item{
  font-size: 16px;
  font-weight: 400;
  color:rgba(102, 102, 102, 1);
}
.header-list-item:not(:last-child){
  margin-right: 45px;
}
.header-blok-item{
  padding: 17px 45px;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
}
.bth{
  position: relative;
  outline: none;
  border: none;
  border-radius: 10px;
  border: 1px solid rgba(204, 153, 51, 1);
  color: var(--gold-color);
  background-color: white;
}
.bth::after{
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid rgba(204, 153, 51, 1);
  outline: none;
  opacity: 0;
}
.bth:focus::after{
  opacity: 1;
}
.bth:hover{
  background-color: rgba(204, 153, 51, 1);
  color: rgba(255, 255, 255, 1);
}
.bth:active{
  background-color: rgba(164, 115, 18, 1);
  color: rgba(255, 255, 255, 1);
}
.bth:active::after{
  opacity: 0;
}
.button-btm{
  font-size: 16px;
  padding: 10px;
}
.button-btm:not(:last-child){
  margin-right:40px ;
}
.special-title{
  font-size: 40px;
  font-weight: 400;
}
.special-item{
  width: 573px;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.special-item-blok1{
  margin-right: 20px;
}
.special-item-link1{
  background-image: url(../img/item-link1.jpg);
  min-height: 258px;
  margin-bottom: 24px;
}
.special-item-link2{
  background-image: url(../img/item-link2.jpg);
  min-height: 258px;
}
.special-item-link3{
  background-image: url(../img/item-link3.jpg);
  min-height: 540px;
}
.special-item{
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 35px;
}
.special-item-text{
  margin: 0;
  width: 420px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 15px;
}
.special-text{
  font-size: 20px;
  margin-bottom: 47px;
}
.special-link{
  /*width: 102px;*/
   color:rgba(240, 191, 95, 1);
   font-size: 16px;
   background-image: url(../img/special-link.png);
   background-repeat: no-repeat;
   background-position: 19% 50%;
}
.special-item-descr{
  width: 299px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: rgba(255, 255, 255, 1);
}
.special-descr{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 47px;
}

.information-text{
   margin: 0;
   font-size: 16px;
   color:rgba(0, 0, 0, 1) ;
   width: 888px;
   font-weight: 400;
   line-height: 32px;
}
.services{
  min-height: 744px;
}
.services-title-link{
  flex-wrap: wrap;
}
.services-item{
  margin: 0;
  padding: 191px 100px 35px 45px ;
  width: 573px;
  min-height: 330px;
  margin-bottom: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top center ;
}
.services-item:not(:nth-child(2n)){
    margin-right: 24px;
}
.services-item-link{
  margin: 0;
}
.services-img1{
  background-image: url(../img/services1.jpg);
}
.services-img2{
  background-image: url(../img/services2.jpg);
}
.services-img3{
  background-image: url(../img/services3.jpg);
}
.services-img4{
  background-image: url(../img/services4.jpg);
}
.services-link{
  margin: 0;
 width: 573px;
 font-size: 20px;
 font-weight: 500;
 color: var(--gold-color);
 /*color:rgba(204, 153, 51, 1) ;*/
 background-image: url(../img/special-link.png);
 background-repeat: no-repeat;
 padding-right: 15px;
 background-position: right center;
}
.services-text{
  margin: 0;
  max-width: 402px;
  min-height: 64px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
}
.advantages-list{
  flex-wrap: wrap;
}
.advantages-list-item{
  margin: 0;
  width: 276px;
  min-height: 276px;
  margin-bottom: 22px;
  padding: 116px 42px 32px 45px ;
  background-repeat: no-repeat;
  background-position:45px 40px ;
  background-color: white;
  border-radius: 15px;
}
.advantages-list-item:not(:nth-child(4n)){
  margin-right: 22px;
}
.advantages-text{
  margin: 0;
  width: 189px;
  min-height: 128px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
}
.list-item-advantages1{
  background-image: url(../img/icon1.svg);
}
.list-item-advantages2{
  background-image: url(../img/icon2.svg);
}
.list-item-advantages3{
  background-image: url(../img/icon3.svg);
}
.list-item-advantages4{
  background-image: url(../img/icon4.svg);
}
.list-item-advantages5{
  background-image: url(../img/icon5.svg);
}
.list-item-advantages6{
  background-image: url(../img/icon6.svg);
}
.list-item-advantages7{
  background-image: url(../img/icon7.svg);
}
.list-item-advantages8{
  background-image: url(../img/icon8.svg);
}
.price-reting{
  width: 270px;
}
.price-reting{
  flex-direction: row;
  justify-content: space-between;
}
.placements-list{
  flex-wrap: wrap;
}
.placements-list-item{
  width: 374px;
  min-height: 440px;
  margin-bottom:24px ;
  background-color: white;
  border-radius: 15px;
}

.placements-list-item:not(:nth-child(3n)){
  margin-right: 24px;
}

.placements-price-item1{
  width: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color:rgba(153, 153, 153, 1) ;
}
.placements-price{
  width: 66px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
.placements-price-item2{
  width: 47px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color:rgba(0, 0, 0, 1) ;
}
.placements-name{
  margin: 0;
  margin-top: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
.placements-place{
  margin: 0;
  margin-top: 18px;
  margin-bottom:20px ;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color:rgba(153, 153, 153, 1) ;
}
.placements-card-content{
  padding:32px 45px 45px 45px ;
}
.button-bth{
  padding: 13px 20px;
}
.placements-list-img {
  background-image: url(../img/list-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 15px;
}
.placements-item-still {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  background-image: url(../img/special-link2.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: rgba(255, 255, 255, 1);
}
.placements-list-img {
  padding: 0 54px 27px 54px;
  flex-direction: column;
  justify-content: flex-end;
}

.booking-descr{
  background-color: rgba(233, 233, 233, 1);
  border-radius: 15px;
  padding:45px ;
}
.booking-title{
  padding: 0;
}
.form{
  display: flex;
  flex-wrap: wrap;
  width: 1080px;
  padding: 32px 18px 32px 28px ;
  background-color: white;
  border-radius: 15px;
}
.form-booking{
  display: flex;
  flex-direction: column;
}
.form-select, input{
  border: none;
}
.label-text{
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 15px;
}
.form-text{
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
.label-number{
  border-bottom: 1px solid rgba(233, 233, 233, 1);
}
.form-booking/*:not(:last-child)*/{
  margin-right: 41px;
}
.form-booking:last-child{
  margin-right: 51px;
}
.form1{
  width: 169px;
}
.form2{
  width: 121px;
}
.booking-buttom{
  padding: 13px 30px;
}

.contacts-blok{
  width: 375px;
  margin-right: 52px;
}
.contacts-title{
  background-color: #ffffff;
  border-radius: 15px;
  padding: 45px;
}
.contacts-info{
  justify-content: space-between;
  border-bottom: 1px solid rgba(233, 233, 233, 1);
  margin-bottom: 25px;
}
.contacts-left{
  margin: 0;
  width: 98px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
.contacts-right{
  margin: 0;
  width: 229px;
  /*margin-left: 47px;*/
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 23px;
}
.contacts-tell{
  color:var(--gold-color)
}
.contacts-email{
  color:var(--gold-color)
}
.email-text{
  margin: 0;
  color: rgba(153, 153, 153, 1);
}
.contact-bth{
  margin-top: 20px;
  padding: 30px;
  margin-bottom: auto;
}
.contacts-img2{
  object-fit: cover;
  width:653px;
  height: 100%;
}
.footer-blok{
  justify-content: space-between;
  padding: 45px;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 1);
  margin-bottom: 32px;
  background-image: url(../img/footerBig.png);
  background-repeat: no-repeat;
  background-position: right 20% bottom 0;
}
.footer-left{
  flex-basis: 30%;
  /*margin-right: 125px;*/
}
address{
  font-style: inherit;
}
.footer-center{
  flex-basis: 50%;
}
.contacts-footer{
  width: 154px;
}
.footer-text{
  margin: 0;
  font-size: 16px;
  line-height: 31px;
  font-weight: 400;
  color:  rgba(255, 255, 255, 1);
  margin-bottom: 38px;
}
.footer-text2{
  margin-bottom: 15px;
}
.footer-descr{
  font-size: 16px;
  line-height: 31px;
  font-weight: 400;
  color:var(--gold-color);
}
.contacts-footer:not(:last-child){
  margin-bottom: 15px;
}
.footer-right{
 /*margin-left: auto;*/
 display: flex;
 flex-direction: column;
}
.footer-avatar:not(:last-child){
  margin-bottom: 20px;
}
